@font-face {
  font-family:'Maven Pro';
  src: url('https://fonts.googleapis.com/css?family=Maven+Pro');
}

div.header {
  margin-left: 4%;
  margin-right: 4%
}

img {
  max-width: 100%;
  max-height: 100%;
  filter: grayscale(30%);
}

div.copy {
  margin-top: 15vh;
  font-size: 45px;
  font-weight: 1000;
  letter-spacing: -1px;
  line-height: 58px;
}

div.additional {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
}

@media (max-width: 475px) {
  .img {
    margin-top: 15vh;
  }
}

div.button {
  /* position: relative; */
  /* margin-top: -55em; */
}
