.contact_main {
    font-size: 5em;
}

.row {
    height: 90vh;
    text-align: left;
    color: #FFF;
    font-size: 0.2em;
}

.vertical {
    color: #000000;
    font-size: 3.5em;
    /* writing-mode: vertical-rl; */
    /* text-orientation: upright; */
    /* need to center text within border */
    /* border: 5px solid red;   */
}

.closing_line {
    font-size: 0.5em;
}

.email {
    background-color: #000000;
}
.email:hover {
    opacity: 0.5;
}

a.email_link {
    position: absolute;
    width: 14.29%;
    height: 100%;
    top: 0;
    left: 28.57%;
    text-decoration: none; /* Makes sure the link doesn't get underlined */
    z-index: 10; /* raises anchor tag above everything else in div */
    background-color: white; /*workaround to make clickable in IE */
    opacity: 0; /*workaround to make clickable in IE */
    filter: alpha(opacity=0); /*workaround to make clickable in IE */
}

.facebook {
    background-color: #1A1A1A;
}

.facebook:hover {
    opacity: 0.5;
}

a.facebook_link {
    position: absolute;
    width: 14.29%;
    height: 100%;
    top: 0;
    left: 42.86%;
    text-decoration: none; /* Makes sure the link doesn't get underlined */
    z-index: 10; /* raises anchor tag above everything else in div */
    background-color: white; /*workaround to make clickable in IE */
    opacity: 0; /*workaround to make clickable in IE */
    filter: alpha(opacity=0); /*workaround to make clickable in IE */
}

.instagram {
    background-color: #303030;
}

.instagram:hover {
    opacity: 0.5;
}

a.instagram_link {
    position: absolute;
    width: 14.29%;
    height: 100%;
    top: 0;
    left: 57.14%;
    text-decoration: none; /* Makes sure the link doesn't get underlined */
    z-index: 10; /* raises anchor tag above everything else in div */
    background-color: white; /*workaround to make clickable in IE */
    opacity: 0; /*workaround to make clickable in IE */
    filter: alpha(opacity=0); /*workaround to make clickable in IE */
}

.address {
    background-color: #4D4D4D;
}

.address:hover {
    opacity: 0.5;
}

a.address_link {
    position: absolute;
    width: 14.29%;
    height: 100%;
    top: 0;
    left: 71.43%;
    text-decoration: none; /* Makes sure the link doesn't get underlined */
    z-index: 10; /* raises anchor tag above everything else in div */
    background-color: white; /*workaround to make clickable in IE */
    opacity: 0; /*workaround to make clickable in IE */
    filter: alpha(opacity=0); /*workaround to make clickable in IE */
}

.pleasure {
    background-color: #666666;
}

.pleasure:hover {
    opacity: 0.5;
}

a.pleasure_link {
    position: absolute;
    width: 14.29%;
    height: 100%;
    top: 0;
    left: 85.71%;
    text-decoration: none; /* Makes sure the link doesn't get underlined */
    z-index: 10; /* raises anchor tag above everything else in div */
    background-color: white; /*workaround to make clickable in IE */
    opacity: 0; /*workaround to make clickable in IE */
    filter: alpha(opacity=0); /*workaround to make clickable in IE */
}