@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 0.85rem;
  line-height: 1.5;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

.header {
  margin-top: 5vh;
  font-size: 45px;
  font-weight: 1000;
  letter-spacing: -1px;
  line-height: 58px;
}