html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.btn{
  color: #9FD356;
}

button:disabled {
  opacity: 0.5;
}
