html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

button:disabled {
  opacity: 0.5;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flex-grid .third {
  width: 32%;
}

.flex-grid .quarter {
  width: 24%;
}

.flex-grid .fifth {
  width: 19%;
}

.flex-grid .half {
  width: 49%;
}

.flex-grid .center {
  justify-content: center;
  align-items: center;
}
