.events_header {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 15px;
}

.events_img {
    /* border: 1px solid #000000; */
    border-radius: 5px;
}

.events_description {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
}